{% extends 'base.html' %}

{% block title %}
    {{ post.title }}
{% endblock %}
{% block section %}
    <h1>{{ post.title }}</h1>
    <strong>Author: {{ post.owner.first_name }} {{ post.owner.last_name }}</strong>
    <p>
        <img src="{{ post.image_url }}" alt="{{ post.title }}" width="600">
    </p>
    <p><strong>{{ post.summary }}</strong></p>
    <p>{{ post.content }}</p>
    <footer>
        {% for category in post.categories.all %}
            <i>{{ category.category_name }},</i>
        {% endfor %}
    </footer>
{% endblock %}