<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Bienvenido a Wordplease</title>
</head>
<body>
    <h1>Bienvenido a Wordplease</h1>
    {% if post_list|length > 0 %}
        <h2>Listado de blogs</h2>
        {% for post in post_list %}
            <a href="{{ user }}/{{ post.pk }}">
                <h3>{{ post.title }}</h3>
                <img src="{{ post.image_url }}" height="200">
                <div>{{ post.summary }}</div>
            </a>
        {% endfor %}
    {% endif %}

</body>
</html>