{% extends 'base.html' %}

{% block title %}
    Blog de {{ author }}
{% endblock %}
{% block section %}
    <h1>Blog de {{ author }}</h1>
    <h3>Últimos posts</h3>
    {% if post_list|length > 0 %}

        {% for post in post_list %}
            <a href="{% url 'post_detail' post.owner post.pk %}">
                <h3>{{ post.title }}</h3>
                <img src="{{ post.image_url }}" height="400">
            </a>
        <div>{{ post.summary }}</div>
        {% endfor %}
    {% endif %}
{% endblock %}